@font-face {
	font-family:'OpenSans';
	src:url(../fonts/OpenSans/OpenSans-Regular.ttf);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family:'OpenSans2';
	src:url(../fonts/OpenSans/OpenSans-Semibold.ttf);
	font-weight: normal;
	font-style: normal;
}

body{
	font-family:'OpenSans';
	
}
h1,h2,h3,h4,h5,h6 {
  font-weight: 600; 
  font-family: 'Open Sans', sans-serif;
}

h1{
  font-size: 36px;
  color:#fff;
}

h2{
  font-size: 20px;
}

h3{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

h4{
  font-size: 16px;
}




@media (min-width: 360px) {
	.carousel {
		min-height: 600px;
	}
	/* Since positioning the image, we need to help out the caption */
	.carousel-caption {
		z-index: 10;
	}
	
	/* Declare heights because of positioning of img element */
	.carousel .item {
		min-height: 600px;
		background-color: #777;
	}
	.carousel-inner > .item > img {
		position: absolute;
		top: 0;
		left: 0;
		min-width: 100%;
		min-height: 600px;
	}
}

/*.navbar-inner {
    min-height: 0px;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 145px;
    height: 100px;
    padding-top: 0;
}*/

.dropdown-menu {
  margin-top: -1px;
  min-width: 180px;
}


.navbar .nav > li.dropdown.open.active > a:hover, 
.navbar .nav > li.dropdown.open > a
{
   color: #FFF;
   background-color: transparent;
   border-color: #fff;
}



.navbar-brand {
	padding-bottom:80px;
}
.navbar {
	border-radius: 0;
	margin-bottom: 0;
	padding: 15px 0;
	padding-bottom: 0;
}

 .navbar-nav{
  margin-top: 35px;
 }

.navbar-nav>li{
  margin-left: 10px;
  padding-bottom: 10px;
}


#banner {
  background: #000 url(../img/coba3.png);
  background-size: cover;
  
}


.navbar-custom {
	background: rgba(236,4,58,1);
	background: -moz-linear-gradient(top, rgba(236,4,58,1) 0%, rgba(196,3,48,1) 44%, rgba(148,0,35,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(236,4,58,1)), color-stop(44%, rgba(196,3,48,1)), color-stop(100%, rgba(148,0,35,1)));
	background: -webkit-linear-gradient(top, rgba(236,4,58,1) 0%, rgba(196,3,48,1) 44%, rgba(148,0,35,1) 100%);
	background: -o-linear-gradient(top, rgba(236,4,58,1) 0%, rgba(196,3,48,1) 44%, rgba(148,0,35,1) 100%);
	background: -ms-linear-gradient(top, rgba(236,4,58,1) 0%, rgba(196,3,48,1) 44%, rgba(148,0,35,1) 100%);
	background: linear-gradient(to bottom, rgba(236,4,58,1) 0%, rgba(196,3,48,1) 44%, rgba(148,0,35,1) 100%);
    color:#ffffff;
  	border-radius:0;
}
  
.navbar-custom .navbar-nav > li > a {
  	color:#fff;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
	background-color:transparent;
}
      
.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
	border-bottom: 3px solid #fff;
	background-color:transparent;
}
      
.navbar-custom .navbar-brand {
  	color:#eeeeee;
}
.navbar-custom .navbar-toggle {
  	background-color:#FFFFFF;
}
.navbar-custom .icon-bar {
  	background-color:#666666;
}



.img2 {
    width: 100%;
    height: auto;
    overflow: hidden;
	border: 1px solid #fff;
}

a {
  color: #ffffff;
}

#icon1{
	
	content:url(../img/icon/wrench103.png);
	-webkit-transition: all 1s ease;

}

#icon1:hover{
	content:url(../img/icon/wrench103-hover.png);

}

#icon2{

}

#icon3{

}
#icon4{

}

#icon5{

}

#icon6{

}