@font-face {
	font-family:'OpenSans';
	src:url(../fonts/OpenSans/OpenSans-Regular.ttf);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family:'OpenSans2';
	src:url(../fonts/OpenSans/OpenSans-Semibold.ttf);
	font-weight: normal;
	font-style: normal;
}

body{
	font-family:'OpenSans';
	
}
h1,h2,h3,h4,h5,h6 {
  font-weight: 600; 
  font-family: 'Open Sans', sans-serif;
}

h1{
  font-size: 36px;
  color:#fff;
}

h2{
  font-size: 20px;
}

h3{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

h4{
  font-size: 16px;
}




@media (min-width: 360px) {
	.carousel {
		min-height: 600px;
	}
	/* Since positioning the image, we need to help out the caption */
	.carousel-caption {
		z-index: 10;
	}
	
	/* Declare heights because of positioning of img element */
	.carousel .item {
		min-height: 600px;
		background-color: #777;
	}
	.carousel-inner > .item > img {
		position: absolute;
		top: 0;
		left: 0;
		min-width: 100%;
		min-height: 600px;
	}
}

/*dropdown*/
@media screen and (max-width: 991px){
    .column{
        height: 200px;
        overflow:scroll;
    }
}

@media screen and (min-width: 992px){
    .column{
        -moz-column-count:2; /* Firefox */
        -webkit-column-count:2; /* Safari and Chrome */
        column-count:2;
        width: 500px;
    }
}


.dropdown-menu {
  margin-top: -1px;
  min-width: 180px;
}


.navbar .nav > li.dropdown.open.active > a:hover, 
.navbar .nav > li.dropdown.open > a
{
   color: #FFF;
   background-color: transparent;
   border-color: #fff;
}



.navbar-brand {
	padding-bottom:80px;
}
.navbar {
	border-radius: 0;
	margin-bottom: 0;
	padding: 15px 0;
	padding-bottom: 0;
}

 .navbar-nav{
  margin-top: 35px;
 }

.navbar-nav>li{
  margin-left: 10px;
  padding-bottom: 10px;
}


#banner {
  background: #000 url(../img/coba3.png);
  background-size: cover;
  
}


.navbar-custom {
	background: rgba(236,4,58,1);
	background: -moz-linear-gradient(top, rgba(236,4,58,1) 0%, rgba(196,3,48,1) 44%, rgba(148,0,35,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(236,4,58,1)), color-stop(44%, rgba(196,3,48,1)), color-stop(100%, rgba(148,0,35,1)));
	background: -webkit-linear-gradient(top, rgba(236,4,58,1) 0%, rgba(196,3,48,1) 44%, rgba(148,0,35,1) 100%);
	background: -o-linear-gradient(top, rgba(236,4,58,1) 0%, rgba(196,3,48,1) 44%, rgba(148,0,35,1) 100%);
	background: -ms-linear-gradient(top, rgba(236,4,58,1) 0%, rgba(196,3,48,1) 44%, rgba(148,0,35,1) 100%);
	background: linear-gradient(to bottom, rgba(236,4,58,1) 0%, rgba(196,3,48,1) 44%, rgba(148,0,35,1) 100%);
    color:#ffffff;
  	border-radius:0;
}
  
.navbar-custom .navbar-nav > li > a {
  	color:#fff;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
	background-color:transparent;
}
      
.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
	border-bottom: 3px solid #fff;
	background-color:transparent;
}
      
.navbar-custom .navbar-brand {
  	color:#eeeeee;
}
.navbar-custom .navbar-toggle {
  	background-color:#FFFFFF;
}
.navbar-custom .icon-bar {
  	background-color:#666666;
}



.img2 {
    width: 100%;
    height: auto;
    overflow: hidden;
	border: 1px solid #fff;
}

a {
  color: #ffffff;
}

#transitionhover {
	margin-bottom:15%;
}

#transitionhover img {
	position:absolute;
	-webkit-transition: opacity .3s ease-in-out;
	-moz-transition: opacity .3s ease-in-out;
	-o-transition: opacity .3s ease-in-out;
	transition: opacity .3s ease-in-out;
	-khtml-transition: opacity .3s ease-in-out;
	top:0px;
}

#transitionhover img.top:hover {
	opacity: 0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#transitionhover img.top {
	opacity: 1.0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#transitionhover img.bottom:hover {
	opacity: 1.0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#transitionhover img.bottom {
	opacity: 0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

/*untuk hover dengan font*/
.feature-wrap {
  margin-bottom: 35px;
  overflow: hidden;
}

.feature-wrap h2{
  margin-top: 10px;
}

.feature-wrap .pull-left {
  margin-right: 25px;
}

.feature-wrap i{
  font-size: 48px;
  height: 110px;
  width: 110px;
  margin: 3px;
  border-radius: 100%;
  line-height: 110px;
  text-align:center;
  color: #ffffff;
  border: 0.0001em solid #ffffff;
  box-shadow: inset 0 0 0 5px #f2f2f2;
  -webkit-box-shadow: inset 0 0 0 5px #f2f2f2;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
  float: left;
  margin-right: 25px;
}

.feature-wrap i:hover {
  background: #a90329;
  color: #fff;
  box-shadow: inset 0 0 0 5px #a90329;
  -webkit-box-shadow: inset 0 0 0 5px #a90329;
  border: 3px solid #ffffff;
}
.footerImage{
  background-image:url('WEB JOK/img/black_lozenge_@2X.png');
}